@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-primary: #0476d0;
    --color-secondary: #d05e04;
    --color-typography: #fff;
  }
}

@import "themeColor.css";
