@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-primary: #4285f4;
    --color-secondary: #34a853;
    --color-buttons: #fbbc05;
    --color-typography: #ea4335;
  }
}

@import "themeColor.css";
