html[data-theme="theme1"] {
  --color-primary: #e84b4f;
  --color-secondary: #4be8e4;
  --color-typography: #fff;
}

html[data-theme="theme2"] {
  --color-primary: #32cd32;
  --color-secondary: #cd32cd;
  --color-typography: #fff;
}
